---
---
<html lang="es">
    <head>
        <meta http-equiv="refresh" content="0; url=/login" />
    </head>
    <body>
        <script>
        window.location.href = "/admin/login";
        </script>
    </body>
</html>